nav {
  background-color: 	#dfccb0;
  height: 70px;
  width: 100%;

}
nav ul {
  float: right;
  margin-right: 500px;
}
nav ul li {
  display: inline-block;
  line-height: 20px;
  margin: 30 40px;
  padding: 20px;
  font-weight: bold;
  font-size: 20px;
}
li a {
  color: white;
  text-decoration: none;
}

li a:hover {
  background-color: #f0d1a3;
}
#btn{
  position: relative;
  margin-left: 92.6%;
  margin-top: 2%;
  

}
.task.reminder {
  border-left: 30px solid green;
}

.task{
  background-color:#FFE4C4;
  width: 40%;

}
.task h2{
  padding: auto;
}